<h1>Toolbox</h1>

<table>
  <tbody class="tools">
    <% @tools.each do |tool|%>
    <tr>
      <td><%= tool.name %></td>
          <% if tool.checkedin == true %>
            <td><%= link_to "Borrow", borrow_tool_path(tool), class: "borrow-tool" %></td>
            <td></td>
            <% elsif  current_user.tools.include?(tool) %>
            <td></td>
            <td> here is where i put the return thing </td>
            <% else %>
            <td><%= "Sorry, this tool is currently checked out" %></td>
            <td></td>
          <% end %>
    </tr>
    <tr>
    <td><%= tool.description %></td>
     <% if current_user && current_user.admin = true %>
        <td><%= link_to "delete",  tool_path(tool), class: "delete", method: :delete %></td>
        <td>here is an update description thing </td>
      <% end %>
  <% end %>
  </tbody>
</table>


<% if current_user && current_user.admin == true %>
<a class="add-tool-link">Add A Tool</a>
<div id="add-tool-area">
  <%= form_for(@tool, html: {:id => "tool-form"} ) do |f| %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="actions">
        <%= f.submit "Add to toolbox", class: "tool-action" %>
      </div>
  <% end %>
  </div>
<% end %>
</div>


