<h1>Toolbox</h1>

<ul>
  <% @tools.each do |tool|%>
  <li class="tool">
    <%= tool.name %>
    <% if tool.checkedin == true %>
      <%= link_to "Borrow", borrow_tool_path(tool), class: "borrow-tool" %>
    <% end %>
  </li>
  <% end %>
</ul>


<% if current_user && current_user.admin == true %>
<a class="add-tool-link">Add A Tool</a>
<div id="add-tool-area">
  <%= form_for([@tool, Tool.new], html: {:id => "tool-form"} ) do |f| %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="actions">
        <%= f.submit "Add to toolbox", class: "tool-action" %>
      </div>
  <% end %>
  </div>
<% end %>
</div>
