<% if params[:getting_started] %>
  <%= render 'welcome/modal'%>
<% end %>
<br>
<div id="user-show">
  <nav id="profile-nav">
    <ul>
      <li><a href="#profile" class="sel">Profile</a></li>
      <li><a href="#rsvp-events">My Events</a></li>
      <li><a href="#borrowed-tools">My Tools</a></li>
    </ul>
  </nav>
  <br>

  <section id='profile'>
    <div class='profile-tab'>
      <div>
        <h1><%= image_tag "#{@user.avatar_url}" %>
        <%= @user.name %></h1>
      </div><br>
      <div>
        <h3>Email: <%= @user.email %></h3>

          <ul><br>
            <% if @user.email_preferences %>
            <h4>You are signed up to receive emails for:</h4>
              <% @user.email_preferences.each_key do |preference| %>
                <li><%=preference.gsub(/_/, " ")%></li>
              <% end %>
              <% else %>
              <h4>You are not signed up to receive emails.</h4>
            <% end %>
          </ul>
        </div>
      <div><br>
       <%=  link_to_modal "Update Email Settings", user_preferences_path, :class=>"button" %>
      </div>
    </div>
  </section>

  <section id='rsvp-events' class="hidden">
    <div class='profile-tab'>
      <div>
        <h1>Events</h1>
        <% @user.events.each do |event| %>
        <div class='event-item'>
          <h4><%= link_to "#{event.name.capitalize}", event_path(event) %></h4>
          <p><%= event.date.to_time.strftime("%A, %B %d, %Y") %></p><br>
          <%= link_to "I'm a flake", flake_path(event), :class=>"button" %>
        </div>
      <% end %>
    </div>
    </div>
  </section>

  <section id='borrowed-tools' class="hidden">
    <div class='profile-tab'>
      <div>
      <table>
        <tbody>
          <th><h1>Borrowed Tools</h1></th><tr>
            <% if @user.tools.empty? %>
              <h3>Your toolbox is empty!</h3></tr>
            <% else %><tr>
              <% @user.tools.each do |tool| %>
              <div class='tool-item'>
              <td><%= link_to "#{tool.name.capitalize}", tool_path(tool) %></td>
              <td><%= link_to "Return", return_tool_path(tool), :class=>"button" %></td></tr></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>
