<div id="demo-form" class="demo-description" style="display: none; ">
  <h2>Welcome to The Wormhole!</h2>
  <p> We noticed that we don't have your email or phone number in our records. We use this information to send you updates about the community, information about upcoming events, and to notify you when a tool is available for checkout.  Please fill out the following information:</p><br>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class='field'>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class='field'>
    <%= f.label :phone %>
    <%= f.text_area :phone %>
  </div>

  <div class="field">
  <%= f.hidden_field :preferences, true %>
  </div>

  <%= f.submit "Submit" %>

<% end %>

  </p><small> We promise to never sell your information or use it for marketing purposes. You can always change your notificiation preferences in your profile by clicking the link to your user in the navigation bar. Thanks! Team Wormhole</small></p>



<%= link_to 'close', root_path, :rel => "modal:close" %>

</div>


