<div id="demo-form" class="demo-description" style="display: none; ">
  <p>
    The basic dialog window is an overlay positioned within the viewport and is protected from page content
    (like select elements) shining through with an iframe. It has a title bar and a content area, and can be moved,
    resized and closed with the 'x' icon by default.
  </p>
</div>

<%=  link_to_modal "Demo Form", "#demo-form", :class=>"button" %>

<div class="content-inner">
  <div class="jumbotron-knockoff">
    <% if current_user %>
      Welcome, <%= current_user.name %>.
    <% else %>
      Welcome to The Wormhole! We're your friendly neighborhood gardening club. Join us to reserve tools, create events and rsvp, and get updates about the club.
    <% end %>
  </div>


  <div id="calendar-box">

    <nav id="profiletabs">
      <ul>
        <li><a href="#calendar" class="sel">Events Calendar</a></li>
        <li><a href="#upcoming">Upcoming Events</a></li>
        <li><a href="#past_events">Past Events</a></li>
      </ul>
    </nav>

    <section id="calendar">
      <%= render 'events/index' %>
    </section>

    <section id="upcoming" class="hidden">
      <div>
        <ul>
          <% @upcoming_events.each do |event|%>
            <li>
              <%= link_to "#{event.name}", event_path(event) %><br>
              <%= event.date.to_time.strftime("%A, %B %d, %Y") %><br>
              <%= link_to "RSVP!", rsvp_path(event.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    </section>

    <section id="past_events" class="hidden">
      <div>
        <ul>
          <% @past_events.each do |event|%>
            <li>
              <%= link_to "#{event.name}", event_path(event) %><br>
              <%= event.date.to_time.strftime("%A, %B %d, %Y") %><br>
            </li>
          <% end %>
        </ul>
      </div>
    </section>

  </div> <!-- closes calendar box -->

</div> <!-- closes content inner -->

  <div class="sidebar">

    <div class="forecast">
      <table>
      <tr>
        <td><%= "Current conditions:" %></td>
        <td><%= "Today's conditions:" %></td>
        <td><%= "Tomorrow's conditions:" %></td>
      </tr>
      <tr>
        <td><%= " #{weather.current.temperature.f}°F" %><br><%= "#{weather.current.condition}" %></td>
        <td><%= "#{weather.today.high.f}/#{weather.today.low.f} °F" %></td>
        <td><%= "#{weather.tomorrow.high.f}/#{weather.tomorrow.low.f} °F" %></td>
      </tr>
      <tr>
        <td><%= image_tag("http://icons.wxug.com/i/c/k/#{weather.current.icon}.gif") %></td>
        <td><%= image_tag("http://icons.wxug.com/i/c/k/#{weather.tomorrow.icon}.gif") %></td>
        <td><%= image_tag("http://icons.wxug.com/i/c/k/#{weather.tomorrow.icon}.gif") %></td>
      </tr>
    </table>
    </div>

    <div class="recentnews">
      <table id="news-table">
      <tr>Recent News </tr>
       <% @news.each do |news| %>
          <tr><h3> <%= news.title %></h3></tr>
          <tr><%= truncate(news.body, length: 25) { link_to "Read More", post_path(news) } %></tr>
        <% end %>
      </table>
    </div>
</div>
