<% if params[:getting_started] %>
  <%= render 'modal'%>
<% end %>

<div class="content-inner">
  <div class="jumbotron-knockoff">
    <% if current_user %>
      Welcome, <%= current_user.name %>.
    <% else %>
      Welcome to The Wormhole! We're your friendly neighborhood gardening club. Join us to reserve tools, create events and rsvp, and get updates about the club.
    <% end %>
  </div>


  <div id="calendar-box">

    <nav id="profiletabs">
      <ul>
        <li><a href="#calendar" class="sel">Events Calendar</a></li>
        <li><a href="#upcoming">Upcoming Events</a></li>
        <li><a href="#past_events">Past Events</a></li>
      </ul>
    </nav>

    <section id="calendar">
      <%= render 'events/index' %>
    </section>

    <section id="upcoming" class="hidden">
      <div>
        <ul>
          <% @upcoming_events.each do |event|%>
            <li>
              <%= link_to "#{event.name}", event_path(event) %><br>
              <%= event.date.to_time.strftime("%A, %B %d, %Y") %><br>
              <%= link_to "RSVP!", rsvp_path(event.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    </section>

    <section id="past_events" class="hidden">
      <div>
        <ul>
          <% @past_events.each do |event|%>
            <li>
              <%= link_to "#{event.name}", event_path(event) %><br>
              <%= event.date.to_time.strftime("%A, %B %d, %Y") %><br>
            </li>
          <% end %>
        </ul>
      </div>
    </section>

  </div> <!-- closes calendar box -->

</div> <!-- closes content inner -->

<div class="sidebar">
  <div class="forecast">
    <table>
    <tr>
      <td><%= "Current conditions:" %></td>
      <td><%= "Today's conditions:" %></td>
      <td><%= "Tomorrow's conditions:" %></td>
    </tr>
    <tr>
      <td><%= " #{weather.current.temperature.f}°F" %><br><%= "#{weather.current.condition}" %></td>
      <td><%= "#{weather.today.high.f}/#{weather.today.low.f} °F" %></td>
      <td><%= "#{weather.tomorrow.high.f}/#{weather.tomorrow.low.f} °F" %></td>
    </tr>
    <tr>
      <td><%= image_tag("http://icons.wxug.com/i/c/k/#{weather.current.icon}.gif") %></td>
      <td><%= image_tag("http://icons.wxug.com/i/c/k/#{weather.tomorrow.icon}.gif") %></td>
      <td><%= image_tag("http://icons.wxug.com/i/c/k/#{weather.tomorrow.icon}.gif") %></td>
    </tr>
  </table>
  </div>

  <div class="recentnews">
  <hr>
    <table id="news-table">
    <tr><h3>Recent News</h3></tr>
     <% @news.each do |news| %>
        <tr><h4> <%= news.title %></h4></tr>
        <tr><%= truncate(news.body, length: 25) { link_to "Read More", post_path(news) } %></tr>
      <% end %>
    </table>
  </div>
</div>
