<h1>
  <%= @event.name %> 
</h1>
<h3>
  Organized by: <%= @user.name %>
</h3>
<div>
  <ul>
  <li><%= @event.date.to_time.strftime("%A, %B %d, %Y") %></li>
  <li>
    <%= @event.time.in_time_zone('Pacific Time (US & Canada)').strftime("%l:%M %p") %>
  </li>
    <!--  maybe convert time to string -->
  <li><%= @event.venue %></li>
  <li><%= @event.description %></li>
</div>

<div class='event_buttons'>
  <% if @user == current_user %>
    <%= link_to "Edit event", edit_event_path(@event) %>
    <%= link_to "Remove event", event_path(@event), method: :delete %>
  <% end %>
</div>

<div>
  <%= link_to "RSVP", rsvp_path %>
  <%= link_to "See Calendar", events_path %>
</div>

<div class='participants'>
  <h3>Participants</h3>
  <ul>
    <% @event.users.each do |user| %>
      <% if user == @user %>
        <li><%=user.name%> (organizer) </li>
      <% else %>
        <li><%= user.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>

