<div id="news-posts">
<h1>BLAHG</h1>
<ul>
  <% @posts.each do |post|%>
  <li>
    <%= link_to "#{post.title}", post_path(post)  %>
    <span class='posttime'>
      Posted <%= post.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("at %l:%M %p on %A %B %d, %Y") %>
    </span>
    <div class='owner-links'>
    <% if current_user == post.user %>
      <%= link_to "Edit", edit_post_path(post), :class=>"button" %>
      <%= link_to "Delete", post_path(post), method: :delete, :class=>"button" %>
    <% end %>
    <br>
    <br>
  </div>
  </li>
  <% end %>
</ul>
<br>
<br>
<%= link_to "Add post", new_post_path, :class=>"button" %>
</div>
