<!DOCTYPE html>
<html>
<head>
  <title>The Wormhole</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class="container">
      <header>
        <nav>
          <ul>
            <li><a href="/">The Wormhole</a></li>
            <li><a href="/blog">News</a></li>
            <% if current_user %>
              <li>Signed in as: <a href="/profile"><%= current_user.name %></a></li>
              <li><a href="/signout">Sign out</a></li>
            <% else %>
              <li><a href="/auth/twitter">Sign in with Twitter: <br></a><%= link_to (image_tag "twitter_green_small.png"), '/auth/twitter', title: "Twitter" %></li>
            <% end %>
          </ul>
        </nav>
      </header>

<body>


<%= flash[:notice] %>

<%= yield %>

</body>
</html>

