<!DOCTYPE html>
<html>
<head>
  <title>Ppatch</title>
  
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:notice] %>

  <div class='navbar'>
    <% if current_user %>
      Welcome, <%= link_to "#{current_user.name}", user_path(current_user) %>!
      <%=link_to "Sign out", sign_out_path %>
      <% else %>
        <%= link_to "Sign in!", "/auth/twitter" %> <!-- can add icon -->
    <% end %>
  </div>

<%= yield %>

</body>
</html>
