<!DOCTYPE html>
<html>
<head>
  <title>The Wormhole</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

 <body>
  <header>
    <nav>
      <ul>
        <li><a href="/"><%= image_tag("worm_guy2.png") %> The Wormhole
          </a></li>
        <li><a href="/blog">News</a></li>
        <% if current_user %>
          <li>Signed in as: <%= link_to "#{current_user.name}", user_path(current_user) %></li>
          <li><a href="/signout">Sign out</a></li>
        <% else %>
          <li><a href="/auth/twitter">Sign in with Twitter: </a><%= link_to (image_tag "twitter_green_small.png"), '/auth/twitter', title: "Twitter" %></li>
          <li> Current Weather: <%= image_tag("http://icons.wxug.com/i/c/k/#{@weather.current.icon}.gif") %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div class="container">

    <%= flash[:notice] %>

    <%= yield %>

  </div>


  <script type="text/javascript">
  var disqus_shortname = 'thewormholeherokuappcom';
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>

</body>
</html>

