<!DOCTYPE html>
<html>
<head>
  <title>Ppatch</title>
  
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:notice] %>

  <div class='navbar'>
    <% if current_user %>
      Welcome, <%= current_user.name%>!
      <%=link_to "Sign out", sign_out_path %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
