<!DOCTYPE html>
<html>
<head>
  <title>Ppatch</title>
  
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:notice] %>

  <div class='navbar'>
    <% if current_user %>
      Welcome, <%= link_to "#{current_user.name}", user_path(current_user) %>!
      <%=link_to "Sign out", sign_out_path %>
      <% else %>
        <%= link_to "Sign in!", "/auth/twitter" %> <!-- can add icon -->
    <% end %>
  </div>

<%= yield %>


    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'thewormholeherokuappcom'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
</body>
</html>
