<!DOCTYPE html>
<html>
<head>
  <title>The Wormhole</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class="container">
      <header>
        <nav>
          <ul>
            <li><a href="/">The Wormhole</a></li>
            <li><a href="/blog">News</a></li>
            <% if current_user %>
              <li>Signed in as: <a href="/profile"><%= current_user.name %></a></li>
              <li><a href="/signout">Sign out</a></li>
            <% else %>
              <li><a href="/signin">Sign in</a></li>
            <% end %>
          </ul>
        </nav>
      </header>

<body>


<%= flash[:notice] %>

<%= yield %>

</body>
</html>

